nav > ul > li {
  /* text-align: center; */
  display: inline;
  margin-right: 10px;
}
nav li > a {
  text-decoration: none;
  text-align: center;
}
/* nav > ul > li > a {
  text-align: center;
} */
footer {
  text-align: center;
  margin-top: 150px;
}
figcaption {
  margin-left: 40px;
}
#video {
  color: rgb(52, 70, 1);
  margin-left: 50px;
  text-decoration: none;
}
